@{
    ViewData["Title"] = "Головна";
}
@model Users

@using (Html.BeginForm("Page", "Home", FormMethod.Post))
{
    <div class="home">
        <p>Введіть своє ім'я</p>
        @Html.TextBoxFor(m => m.Name)
        <input type="submit" value="Відправити" />
    </div>
}
